/***********************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
***********************************************************************************/


#prel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#toppanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 51%;
    background-color: #000;
    z-index: 100;
    opacity: 1;
    -webkit-animation: 1s linear 0s normal panelsout;
            animation: 1s linear 0s normal panelsout;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}

#bottompanel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 51%;
    background-color: #000;
    z-index: 100;
    opacity: 1;
    -webkit-animation: 1s linear 0s normal panelsout;
            animation: 1s linear 0s normal panelsout;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}

@-webkit-keyframes panelsout {
    from {
        height: 51%;
        opacity: 1;
    }

    to {
        height: 0%;
        opacity: 0;
    }
}

@keyframes panelsout {
    from {
        height: 51%;
        opacity: 1;
    }

    to {
        height: 0%;
        opacity: 0;
    }
}

#lineloading {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px #fff;
            box-shadow: 0 0 5px #fff;
    width: 0;
    height: 2px;
    z-index: 101;
    -webkit-animation: 1.5s linear 0s normal linego;
            animation: 1.5ss linear 0s normal linego;
        -webkit-transition: ease 0.5s;
        -o-transition: ease 0.5s;
        transition: ease 0.5s;

}

@-webkit-keyframes linego {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes linego {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}


/***********************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
***********************************************************************************/



* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000;
    color: #ffffff;
    min-height: 580px;
    font-family: 'SF UI Text';
}

::-webkit-scrollbar {
    width: 0px;
    -webkit-box-shadow-: inset 0 0 5px #000000;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow-: inset 0 0 6px #000000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow-: inset 0 0 6px #FFFFFF;
}


a {
    text-decoration: none;
    color: #fff;
}

/***********************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
***********************************************************************************/


#wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}



/***********************************************************************************
************************************************************************************
***********************************************************************************/

.header {
    position: absolute;
    display: flex;
    font-size: 1.4em;
    width: 80%;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
    justify-content: space-between;
    align-items: center;
}


.logo {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    width: 40px;
    height: 40px;
    fill: beige;
    transition: all 0.7s ease 0s;
    padding: 5px;
}

.logo:hover {
    background-color: #fff;
    fill: #000;
    width: 45px;
    height: 45px;

}

.menu_ul li {
    display: inline;
}

.menu_ul li a {
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all 0.7s ease 0s;
}

.menu_ul li a:hover {
    background-color: #fff;
    color: #000000;
    padding: 5px 10px;
}


.header__burger {
    position: relative;
	display: none;
	width: 30px;
	height: 20px;
	transition: all 0.3s ease 0s;
    z-index: 995;
    cursor: pointer;
}

.header__burger span {
	position: absolute;
	width: 100%;
	height: 2px;
	top: 9px;
	background-color: #f2f2f2;
	transition: all 0.3s ease 0s;
	z-index: 995;
}


.header__burger::after,
.header__burger::before {
	position: absolute;
	content: '';
	background-color: #f2f2f2;
	width: 30px;
	height: 2px;
	left: 0;
	transition: all 0.3s ease 0s;
	z-index: 995;
}

.header__burger::before {
	top: 0;
}

.header__burger::after {
	bottom: 0;
}


/***********************************************************************************
************************************************************************************
***********************************************************************************/
#bl_text {
    width: 1000px;
    height: 290px;
    font-size: 1em;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}


#hello_txt, #name_txt {
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
}


#dvlpr_txt {
    position: absolute;
    left: 90px;
    top: 120px;
    font-weight: 600;
    font-style: normal;
    font-size: 3.3em;
    -webkit-transition: all 0.5s;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
    z-index: 6;
}

#view_CV {
    position: absolute;
    bottom: 0;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
    border: 5px solid #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    -webkit-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 0px 5px rgb(136, 136, 136);
}

#view_CV:hover {
    margin-left: 3px;
    color: #000;
    background-color: #fff;
    border: 6px solid rgb(19, 19, 19);
    box-shadow: none;
}

#me_main {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
    height: 170%;
    z-index: 5;
    -webkit-transition: all 0.6s;
    -webkit-transition: ease 0.6s;
    -o-transition: ease 0.6s;
    transition: ease 0.6s;
    outline: none;
}

#me_main_colored{
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
    height: 170%;
    z-index: 6;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
    outline: none;
}

#me_main_colored:hover {
    height: 180%;
}


/***********************************************************************************
************************************************************************************
***********************************************************************************/


#recent-work {
    position: absolute;
    bottom: 5%;
    right: 7%;
}

#recent-work>span {
    position: absolute;
    left: -6em;
    top: 0.6em;
    width: 5em;
    height: 2px;
    background-color: honeydew;
}

#btn_recent-work {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    font-family: 'SF UI Text';
    font-weight: 600;
    font-style: bold;
    font-size: 1em;
}


/***********************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
***********************************************************************************/






@media(max-width: 1550px) {
    
    body {
        min-height: 420px;
    }

    .header {
        width: 90%;
    }


    /***********************************************************************************
    ************************************************************************************
    ***********************************************************************************/
    #bl_text {
        width: 700px;
        height: 250px;
        font-size: 0.7em;
    }

    #dvlpr_txt {
        position: absolute;
        left: 40px;
        top: 95px;
        font-weight: 600;
        font-style: normal;
        font-size: 3.3em;
        -webkit-transition: all 0.5s;
        -webkit-transition: ease 0.5s;
        -o-transition: ease 0.5s;
        transition: ease 0.5s;
        z-index: 6;
    }

    #view_CV {
        position: absolute;
        bottom: 0;
        font-weight: 600;
        font-style: normal;
        font-size: 1.5em;
        border: 5px solid #ffffff;
        border-radius: 10px;
        padding: 10px 20px;
        -webkit-transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        box-shadow: 0px 0px 5px rgb(136, 136, 136);
    }

    #view_CV:hover {
        margin-left: 3px;
        color: #000;
        background-color: #fff;
        border: 6px solid rgb(19, 19, 19);
        box-shadow: none;
    }

    #me_main {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
        height: 170%;
        z-index: 5;
        -webkit-transition: all 0.6s;
        -webkit-transition: ease 0.6s;
        -o-transition: ease 0.6s;
        transition: ease 0.6s;
        outline: none;
    }

    #me_main_colored{
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
        height: 170%;
        z-index: 6;
        opacity: 0;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        -webkit-transition: ease 0.5s;
        -o-transition: ease 0.5s;
        transition: ease 0.5s;
        outline: none;
    }

    #me_main_colored:hover {
        height: 180%;
    }


    /***********************************************************************************
    ************************************************************************************
    ***********************************************************************************/


    #recent-work {
        position: absolute;
        bottom: 5%;
        right: 7%;
    }

    #recent-work>span {
        position: absolute;
        left: -6em;
        top: 0.6em;
        width: 5em;
        height: 2px;
        background-color: honeydew;
    }

    #btn_recent-work {
        background: none;
        border: none;
        color: #ffffff;
        cursor: pointer;
        outline: none;
        font-family: 'SF UI Text';
        font-weight: 600;
        font-style: bold;
        font-size: 1em;
    }
}



/***********************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
***********************************************************************************/






@media(max-width: 1300px) {
    
    body {
        min-height: 420px;
    }

    .header {
        width: 90%;
    }


    /***********************************************************************************
    ************************************************************************************
    ***********************************************************************************/
    #bl_text {
        width: 750px;
        height: 200px;
        font-size: 0.7em;
    }

    #dvlpr_txt {
        position: absolute;
        left: 90px;
        top: 75px;
        font-weight: 600;
        font-style: normal;
        font-size: 3.3em;
        -webkit-transition: all 0.5s;
        -webkit-transition: ease 0.5s;
        -o-transition: ease 0.5s;
        transition: ease 0.5s;
        z-index: 6;
    }

    #view_CV {
        position: absolute;
        bottom: 0;
        font-weight: 600;
        font-style: normal;
        font-size: 1.5em;
        border: 5px solid #ffffff;
        border-radius: 10px;
        padding: 10px 20px;
        -webkit-transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        box-shadow: 0px 0px 5px rgb(136, 136, 136);
    }

    #view_CV:hover {
        margin-left: 3px;
        color: #000;
        background-color: #fff;
        border: 6px solid rgb(19, 19, 19);
        box-shadow: none;
    }

    #me_main {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
        height: 170%;
        z-index: 5;
        -webkit-transition: all 0.6s;
        -webkit-transition: ease 0.6s;
        -o-transition: ease 0.6s;
        transition: ease 0.6s;
        outline: none;
    }

    #me_main_colored{
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
        height: 170%;
        z-index: 6;
        opacity: 0;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        -webkit-transition: ease 0.5s;
        -o-transition: ease 0.5s;
        transition: ease 0.5s;
        outline: none;
    }

    #me_main_colored:hover {
        height: 180%;
    }


    /***********************************************************************************
    ************************************************************************************
    ***********************************************************************************/


    #recent-work {
        position: absolute;
        bottom: 5%;
        right: 7%;
    }

    #recent-work>span {
        position: absolute;
        left: -6em;
        top: 0.6em;
        width: 5em;
        height: 2px;
        background-color: honeydew;
    }

    #btn_recent-work {
        background: none;
        border: none;
        color: #ffffff;
        cursor: pointer;
        outline: none;
        font-family: 'SF UI Text';
        font-weight: 600;
        font-style: bold;
        font-size: 1em;
    }
}


/***********************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
***********************************************************************************/



@media(max-width: 900px) {
    
    body {
        min-height: 350px;
    }

    .header {
        font-size: 1.2em;
        width: 90%;
    }


    .logo {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0, -50%);
        width: 35px;
        height: 35px;
        fill: beige;
        transition: all 0.7s ease 0s;
        padding: 5px;
    }

    .logo:hover {
        background-color: #fff;
        fill: #000;
        width: 40px;
        height: 40px;

    }

    .menu_ul li {
        display: inline;
    }

    .menu_ul li a {
        color: #fff;
        padding: 5px 10px;
        border-radius: 3px;
        transition: all 0.7s ease 0s;
    }

    .menu_ul li a:hover {
        background-color: #fff;
        color: #000000;
        padding: 5px 10px;
    }





    /***********************************************************************************
    ************************************************************************************
    ***********************************************************************************/
    #bl_text {
        width: 540px;
        height: 150px;
        font-size: 0.5em;
    }


    #hello_txt, #name_txt {
        font-weight: 500;
        font-style: normal;
        font-size: 2em;
    }


    #dvlpr_txt {
        position: absolute;
        left: 90px;
        top: 55px;
        font-weight: 600;
        font-style: normal;
        font-size: 3.3em;
        -webkit-transition: all 0.5s;
        -webkit-transition: ease 0.5s;
        -o-transition: ease 0.5s;
        transition: ease 0.5s;
        z-index: 6;
    }

    #view_CV {
        position: absolute;
        bottom: 0;
        font-weight: 600;
        font-style: normal;
        font-size: 1.5em;
        border: 5px solid #ffffff;
        border-radius: 10px;
        padding: 10px 20px;
        -webkit-transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        box-shadow: 0px 0px 5px rgb(136, 136, 136);
    }

    #view_CV:hover {
        margin-left: 3px;
        color: #000;
        background-color: #fff;
        border: 6px solid rgb(19, 19, 19);
        box-shadow: none;
    }

    #me_main {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
        height: 170%;
        z-index: 5;
        -webkit-transition: all 0.6s;
        -webkit-transition: ease 0.6s;
        -o-transition: ease 0.6s;
        transition: ease 0.6s;
        outline: none;
    }

    #me_main_colored{
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
        height: 170%;
        z-index: 6;
        opacity: 0;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        -webkit-transition: ease 0.5s;
        -o-transition: ease 0.5s;
        transition: ease 0.5s;
        outline: none;
    }

    #me_main_colored:hover {
        height: 180%;
    }


    /***********************************************************************************
    ************************************************************************************
    ***********************************************************************************/


    #recent-work {
        position: absolute;
        bottom: 5%;
        right: 7%;
    }

    #recent-work>span {
        position: absolute;
        left: -6em;
        top: 0.6em;
        width: 5em;
        height: 2px;
        background-color: honeydew;
    }

    #btn_recent-work {
        background: none;
        border: none;
        color: #ffffff;
        cursor: pointer;
        outline: none;
        font-family: 'SF UI Text';
        font-weight: 600;
        font-style: bold;
        font-size: 1em;
    }
}






/***********************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
***********************************************************************************/


@media(max-width: 650px) {
    
    body {
        min-height: 250px;
    }

    .header {
        font-size: 1.2em;
        width: 90%;
    }


    .logo {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0, -50%);
        width: 30px;
        height: 30px;
        fill: beige;
        transition: all 0.7s ease 0s;
        padding: 5px;
    }

    .logo:hover {
        background-color: #fff;
        fill: #000;
        width: 30px;
        height: 30px;

    }

    .menu_ul {
        display: none;
    }

    .menu_ul li {
        display: inline;
    }

    .menu_ul li a {
        color: #fff;
        padding: 5px 10px;
        border-radius: 3px;
        transition: all 0.7s ease 0s;
    }

    .menu_ul li a:hover {
        background-color: #fff;
        color: #000000;
        padding: 5px 10px;
    }


    .header__burger {
        display: block;
    }





    /***********************************************************************************
    ************************************************************************************
    ***********************************************************************************/
    #bl_text {
        width: 400px;
        height: 120px;
        font-size: 0.4em;
    }


    #hello_txt, #name_txt {
        font-weight: 500;
        font-style: normal;
        font-size: 2em;
    }


    #dvlpr_txt {
        position: absolute;
        left: 20px;
        top: 50px;
        font-weight: 600;
        font-style: normal;
        font-size: 3.3em;
        -webkit-transition: all 0.5s;
        -webkit-transition: ease 0.5s;
        -o-transition: ease 0.5s;
        transition: ease 0.5s;
        z-index: 6;
    }

    #view_CV {
        position: absolute;
        bottom: 0;
        font-weight: 600;
        font-style: normal;
        font-size: 1.5em;
        border: 3px solid #ffffff;
        border-radius: 10px;
        padding: 5px 10px;
        -webkit-transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        box-shadow: 0px 0px 5px rgb(136, 136, 136);
    }

    #view_CV:hover {
        margin-left: 3px;
        color: #000;
        background-color: #fff;
        border: 6px solid rgb(19, 19, 19);
        box-shadow: none;
    }

    #me_main {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
        height: 170%;
        z-index: 5;
        -webkit-transition: all 0.6s;
        -webkit-transition: ease 0.6s;
        -o-transition: ease 0.6s;
        transition: ease 0.6s;
        outline: none;
    }

    #me_main_colored{
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
        height: 170%;
        z-index: 6;
        opacity: 0;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        -webkit-transition: ease 0.5s;
        -o-transition: ease 0.5s;
        transition: ease 0.5s;
        outline: none;
    }

    #me_main_colored:hover {
        height: 180%;
    }


    /***********************************************************************************
    ************************************************************************************
    ***********************************************************************************/


    #recent-work {
        position: absolute;
        bottom: 5%;
        right: 7%;
    }

    #recent-work>span {
        position: absolute;
        left: -6em;
        top: 0.6em;
        width: 5em;
        height: 2px;
        background-color: honeydew;
    }

    #btn_recent-work {
        background: none;
        border: none;
        color: #ffffff;
        cursor: pointer;
        outline: none;
        font-family: 'SF UI Text';
        font-weight: 600;
        font-style: bold;
        font-size: 0.7em;
    }
}



/***********************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
***********************************************************************************/


@media(max-width: 500px) {
    
    body {
        min-width: 290px;
        min-height: 180px;
    }

    .header {
        font-size: 1.2em;
        width: 90%;
    }


    .logo {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0, -50%);
        width: 20px;
        height: 20px;
        fill: beige;
        transition: all 0.7s ease 0s;
        padding: 5px;
    }

    .logo:hover {
        background-color: #fff;
        fill: #000;
        width: 22px;
        height: 22px;

    }

    .menu_ul {
        display: none;
    }

    .menu_ul li {
        display: inline;
    }

    .menu_ul li a {
        color: #fff;
        padding: 5px 10px;
        border-radius: 3px;
        transition: all 0.7s ease 0s;
    }

    .menu_ul li a:hover {
        background-color: #fff;
        color: #000000;
        padding: 5px 10px;
    }


    .header__burger {
        display: block;
        width: 20px;
        height: 15px;
    }

    .header__burger span {
        position: absolute;
        width: 100%;
        height: 1px;
        top: 7px;
        background-color: #f2f2f2;
        transition: all 0.3s ease 0s;
        z-index: 995;
    }
    
    
    .header__burger::after,
    .header__burger::before {
        position: absolute;
        content: '';
        background-color: #f2f2f2;
        width: 20px;
        height: 1px;
        left: 0;
        transition: all 0.3s ease 0s;
        z-index: 995;
    }





    /***********************************************************************************
    ************************************************************************************
    ***********************************************************************************/
    #bl_text {
        width: 220px;
        height: 90px;
        font-size: 0.3em;
    }


    #hello_txt, #name_txt {
        font-weight: 500;
        font-style: normal;
        font-size: 2em;
    }


    #dvlpr_txt {
        position: absolute;
        left: 20px;
        top: 27px;
        width: 120px;
        font-weight: 600;
        font-style: normal;
        font-size: 3em;
        -webkit-transition: all 0.5s;
        -webkit-transition: ease 0.5s;
        -o-transition: ease 0.5s;
        transition: ease 0.5s;
        z-index: 6;
    }

    #view_CV {
        position: absolute;
        bottom: 0;
        font-weight: 600;
        font-style: normal;
        font-size: 1.3em;
        border: 3px solid #ffffff;
        border-radius: 4px;
        padding: 2px 5px;
        -webkit-transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        box-shadow: 0px 0px 5px rgb(136, 136, 136);
    }

    #view_CV:hover {
        margin-left: 3px;
        color: #000;
        background-color: #fff;
        border: 6px solid rgb(19, 19, 19);
        box-shadow: none;
    }

    #me_main {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
        height: 170%;
        z-index: 5;
        -webkit-transition: all 0.6s;
        -webkit-transition: ease 0.6s;
        -o-transition: ease 0.6s;
        transition: ease 0.6s;
        outline: none;
    }

    #me_main_colored{
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
        height: 170%;
        z-index: 6;
        opacity: 0;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        -webkit-transition: ease 0.5s;
        -o-transition: ease 0.5s;
        transition: ease 0.5s;
        outline: none;
    }

    #me_main_colored:hover {
        height: 180%;
    }


    /***********************************************************************************
    ************************************************************************************
    ***********************************************************************************/


    #recent-work {
        position: absolute;
        bottom: 5%;
        right: 7%;
    }

    #recent-work>span {
        position: absolute;
        left: -4em;
        top: 0.8em;
        width: 3em;
        height: 1px;
        background-color: honeydew;
    }

    #btn_recent-work {
        background: none;
        border: none;
        color: #ffffff;
        cursor: pointer;
        outline: none;
        font-family: 'SF UI Text';
        font-weight: 600;
        font-style: bold;
        font-size: 0.5em;
    }
}


/***********************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
************************************************************************************
***********************************************************************************/




@media(max-width: 1400px) and (orientation: portrait){

    .logo {
        width: 50px;
        height: 50px;
    }
    
    .logo:hover {
        width: 55px;
        height: 55px;
    }

    .menu_ul {
        font-size: 1.5em;
    }
    
    #bl_text {
        width: 70%;
        height: 370px;
        font-size: 0.9em;
    }

    #dvlpr_txt {
        text-align: left;
        top: 120px;
        left: 0px;
        width: 70%;
    }
    
    #btn_recent-work {
        font-size: 1.9em;
    }

    #recent-work>span {
        top: 20px;
        width: 100px;
        left: -7em;
    }

}

@media(max-width: 900px) and (orientation: portrait) {

    #logo {
        width: 40px;
        height: 45px;
        top: 3%;
    }

    #menu {
        top: 3.7%;
        font-size: 1.3em;
    }

    #bl_text {
        width: 70%;
        height: 300px;
        font-size: 0.9em;
    }

    #dvlpr_txt {
        top: 90px;
        width: 70%;
    }

    #view_CV {
        border: 5px solid #ffffff;
        padding: 10px;
    }

    #me_main, #me_main_colored {
        height: 150%;
    }

    #me_main_colored:hover {
        height: 160%;
    }

}

@media(max-width: 800px) and (orientation: portrait) {
    #bl_text {
        font-size: 0.75em;
    }

}


@media(max-width: 700px) and (orientation: portrait) {

    .logo{
        width: 40px;
        height: 40px;
    }
    .logo:hover{
        width: 45px;
        height: 45px;
    }
    

    #bl_text {
        width: 70%;
        height: 300px;
        font-size: 0.55em;
    }



    #dvlpr_txt {
        top: 90px;
        width: 70%;
    }

    #view_CV {
        border: 5px solid #ffffff;
        padding: 10px;
    }

    #me_main, #me_main_colored {
        height: 150%;
    }

    #me_main_colored:hover {
        height: 160%;
    }

}

@media(max-width: 600px) and (orientation: portrait) {


    #bl_text {
        width: 70%;
        height: 300px;
        font-size: 0.55em;
    }

    #dvlpr_txt {
        top: 90px;
        width: 50%;
    }

    #downld_CV {
        border: 5px solid #ffffff;
        padding: 10px;
    }

    #me_main, #me_main_colored {
        height: 150%;
    }

    #me_main_colored:hover {
        height: 160%;
    }

}

@media(max-width: 530px) and (orientation: portrait) {
    body {
        min-width: 300px;
        min-height: 500px;;
    }

    .header__burger {
        width: 35px;
        height: 25px;
    }

    .header__burger span {
        height: 2px;
        top: 11.5px;
    }

    .header__burger::after, .header__burger::before {
        width: 35px;
        height: 2px;
    }

    #bl_text {
        width: 80%;
        height: 220px;
        font-size: 0.6em;
    }

    #dvlpr_txt {
        top: 70px;
        width: 70%;
    }

   #view_CV {
       padding: 10px 20px;
       font-size: 2em;
   }

    #btn_recent-work {
        font-size: 1.2em;
    }

    #recent-work>span {
        top: 11px;
        width: 70px;
        left: -5em;
    }

}

@media(max-width: 450px) and (orientation: portrait) {
    body {
        min-width: 300px;
        min-height: 500px;;
    }



    #bl_text {
        width: 90%;
        height: 220px;
        font-size: 0.5em;
        padding-left: 20px;
    }

    #dvlpr_txt {
        top: 70px;
        width: 70%;
        left: 20px;
    }

    #menu {
        display: none;
    }

    #btn_recent-work {
        font-size: 1em;
    }

    #recent-work>span {
        top: 9px;
        width: 70px;
        left: -5em;
    }

}

@media(max-width: 370px) and (orientation: portrait) {
    body {
        min-width: 270px;
        min-height: 400px;
    }


    #logo {
        width: 27px;
        height: 32px;
        top: 3%;
    }

    #menu {
        top: 4%;
        font-size: 1em;
    }

    #bl_text {
        width: 90%;
        height: 180px;
        font-size: 0.45em;
        padding-left: 20px;
    }

    #dvlpr_txt {
        top: 55px;
        width: 70%;
        left: 20px;
    }

    #menu {
        display: none;
    }

    #btn_recent-work {
        font-size: 1em;
    }

    #recent-work>span {
        top: 9px;
        width: 70px;
        left: -5em;
    }

}